set timeout=5
set default=autoinstall

menuentry "Ubuntu Autoinstall" --id=autoinstall {
    linux /vmlinuz ip=dhcp url=http://${net_default_server}:8080/ubuntu/ubuntu-24.04.4-live-server-amd64.iso autoinstall ds=nocloud-net\;s=http://${net_default_server}:8080/autoinstall/ nomodeset vga=791 quiet ---
    initrd /initrd
}
